a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#F0EEEA; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_7c36b3fb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1000px; background:none;  }
#container_7c36b3fb_padding { margin: 10px; display: block;  }
#container_27ce7d7c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:206px; max-width:1024px; background-color:#E5E0D9;  }
.textstyle2 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#container_52c2f018 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:104px; background-color:rgba(217, 217, 217, 0.898039);  }
#container_52c2f018_padding { margin: 30px 10px 0px 10px;display: block;  }
.textstyle3 { font-size:28pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#5A56B2; line-height: 1.5;  }
#container_385cb94e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:1024px; background-color:#E5E0D9;  }
#container_56d2fcb6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:1024px; background-color:#ECE9E4;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; line-height: 1.5;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
#container_6abaa81e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:1024px; background-color:#E5E0D9;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
